<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maitkon.healthwatcher">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Math.Application"
        android:allowBackup="true"
        android:icon="@mipmap/logo_health"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Primary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".First"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutApp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".O2Result"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BloodPressureResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HeartRateResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RespirationResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HeartRateProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BloodPressureProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".O2Process"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RespirationProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartVitalSigns"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VitalSignsProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VitalSignsResults"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>